{% extends "base.html" %}

{% block title %}Add Recipe{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/add_recipe.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add a New Recipe</h2>
    <form method="post" action="{{ url_for('recipes.add_recipe') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Recipe Title:</label>
            <input type="text" id="title" name="title" placeholder="Enter the recipe title" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Enter a brief description of the recipe" required></textarea>
        </div>
        <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            <textarea id="ingredients" name="ingredients" placeholder="List all ingredients required" required></textarea>
        </div>
        <div class="form-group">
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" name="instructions" placeholder="Provide step-by-step instructions" required></textarea>
        </div>
        <div class="form-group">
            <label for="meal_type">Meal Type:</label>
            <select id="meal_type" name="meal_type" required>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Snack">Snack</option>
            </select>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" placeholder="e.g., Vegetarian, Dessert" required>
        </div>
         <div class="form-group">
            <label for="image">Upload Image:</label>
            <input type="file" id="image" name="image" accept="image/*">
        </div>
        <button type="submit">Add Recipe</button>
    </form>
</div>
{% endblock %}
