{% extends "base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/view_recipe.css') }}">
{% endblock %}

{% block content %}
<div class="recipe-container" data-recipe-id="{{ recipe.id }}">
    <div class="recipe-header">
        {% if recipe.image_path %}
        <img src="{{ url_for('static', filename=recipe.image_path.replace('static/', '')) }}" alt="{{ recipe.title }}" class="recipe-image">
        {% endif %}
        <h1>{{ recipe.title }}</h1>
    </div>

    <div class="recipe-details">
        <p><strong>Author:</strong> {{ recipe['username'] }}</p>
        <p><strong>Description:</strong> {{ recipe.description }}</p>
        <p><strong>Meal Type:</strong> {{ recipe['meal_type'] }}</p>
        <p><strong>Category:</strong> {{ recipe['category'] }}</p>

        <h2>Ingredients:</h2>
        <pre class="ingredients">{{ recipe.ingredients }}</pre>

        <h2>Instructions:</h2>
        <pre class="instructions">{{ recipe.instructions }}</pre>
    </div>

    <div class="nutrition-details">
        {% if nutrition_data %}
        <h2>Nutritional Information:</h2>
        <ul>
            <li><strong>Calories:</strong> {{ nutrition_data['calories'] }}</li>
            {% if nutrition_data['totalNutrients'] %}
            <li><strong>Total Fat:</strong> {{ nutrition_data['totalNutrients']['FAT']['quantity'] | round(2) }} {{ nutrition_data['totalNutrients']['FAT']['unit'] }}</li>
            <li><strong>Protein:</strong> {{ nutrition_data['totalNutrients']['PROCNT']['quantity'] | round(2) }} {{ nutrition_data['totalNutrients']['PROCNT']['unit'] }}</li>
            <li><strong>Carbohydrates:</strong> {{ nutrition_data['totalNutrients']['CHOCDF']['quantity'] | round(2) }} {{ nutrition_data['totalNutrients']['CHOCDF']['unit'] }}</li>
            {% endif %}
        </ul>
        {% else %}
        <p>Nutritional information is unavailable for this recipe.</p>
        {% endif %}
    </div>

    <div class="recipe-actions">
        {% if 'user_id' in session %}
        <form method="post" class="favorite-form">
            <button type="submit" class="favorite-btn" data-favorited="{{ recipe['is_favorite'] }}">
                {{ '⭐' if recipe['is_favorite'] else '☆' }}
            </button>
        </form>
        {% endif %}
        <!-- Edit and Delete Buttons -->
        <a href="{{ url_for('recipes.edit_recipe', recipe_id=recipe.id) }}" class="btn edit-btn">Edit</a>
        <form action="{{ url_for('recipes.delete_recipe', recipe_id=recipe['id']) }}" method="post" class="delete-form">
            <button type="submit" class="btn delete-btn">Delete</button>
        </form>


    </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='JS/favorites.js') }}"></script>
{% endblock %}
{% endblock %}
